@media screen and (min-width: 375px) and (max-width : 750px){
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.logo{
width: 50%;
display: block;
margin:30px auto 10px auto;
}
.location{
    background-color: #EEEEEE;
    height: 60px;
    padding: 15px 0;
    height: auto;
}
.location-container{
    display: flex;
    gap: 15px;
    font-size: 20px;
    margin:auto; 
    width: 50%;
    margin:auto;   
}
.location-container #locationfield{
    border: 0;
    font-size: 20px;
    background-color: #EEEEEE;
    font-weight: 500;
}
.menu-info{
    width: 100%;
    height: 280px;
    text-align: center;
    background-color: #F6F1F1;
    margin-bottom: 40px;
    padding-top: 10px;
}
.menu-info h2{
    padding: 25px 0 30px 0;
}
.menu-info p{
    font-size: 18px;
    color: gray;
    padding: 0 10px 30px 10px;
}
.menu-info .explore .btn_explore{
    background-color: #ce69db;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    padding: 15px 30px;
}
.container-workflow{
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}
.container-workflow h2{
    padding-bottom: 30px;
}
.container_option{
    display: flex;
    gap: 20px;
    margin:5px 0px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    background-color:#F6F1F1 ;
    font-size: 18px;
    padding: 25px 0px 25px 30px;
}
.container-workflow i{
    color: gray;
}
.container-restuarants{
    background-color: #F6F1F1 ;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}
.container-restaurants .restaurant-card{
    display: flex;
    overflow: hidden;
}
.container-restaurants .restuarant-card img{
     
}

}